@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: #fffdfa;
}

.container {
  height: 90vh;
  width: 90vw;
}

header {
  width: 100%;
  height: 8%;
  margin-bottom: 2.5rem;
}

nav {
  float: right;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  padding: 1rem;
  color: #c5c6ce;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  height: 91.9%;
}

.image-span-2 {
  grid-column: auto / span 2;
}

.image-span-2 > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.new-section {
  background-color: #00001a;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
